html {
	font-size: 14px;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 2em;
}

h1 {
	font-size: 4em;
	line-height: 1.25em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 3em;
	line-height: 1.33333em;
	margin-top: 0.33333em;
	margin-bottom: 0.33333em;
}

h3 {
	font-size: 2.5em;
	line-height: 1.6em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

button,
input,
textarea {
	font-size: 1em;
	font-family: inherit;
}
